<div class="article-details">
    {{ if .Params.categories }}
    <header class="article-category">
        {{ range (.GetTerms "categories") }}
            <a href="{{ .RelPermalink }}" {{ with .Params.style }}style="background-color: {{ .background }}; color: {{ .color }};"{{ end }}>
                {{ .LinkTitle }}
            </a>
        {{ end }}
    </header>
    {{ end }}

    <div class="article-title-wrapper">
        <h2 class="article-title">
            <a href="{{ .RelPermalink }}">
                {{- .Title -}}
            </a>
        </h2>

        {{ with .Params.description }}
        <h3 class="article-subtitle">
            {{ . }}
        </h3>
        {{ end }}
    </div>

    {{ $showReadingTime := .Params.readingTime | default (.Site.Params.article.readingTime) }}
    {{ $showDate := not .Date.IsZero }}
    {{ $showFooter := or $showDate $showReadingTime }}
    {{ if $showFooter }}
    <footer class="article-time">
        {{ if $showDate }}
            <div>
                {{ partial "helper/icon" "date" }}
                <time class="article-time--published">
                  {{- $fmt := "02 Jan 2006" -}}  {{/* força dia-mês-ano */}}
                  {{- $s := .Date.Format $fmt -}}
                  {{- $s = replaceRE `\bJan\b` "jan." $s -}}
                  {{- $s = replaceRE `\bFeb\b` "fev." $s -}}
                  {{- $s = replaceRE `\bMar\b` "mar." $s -}}
                  {{- $s = replaceRE `\bApr\b` "abr." $s -}}
                  {{- $s = replaceRE `\bMay\b` "mai." $s -}}
                  {{- $s = replaceRE `\bJun\b` "jun." $s -}}
                  {{- $s = replaceRE `\bJul\b` "jul." $s -}}
                  {{- $s = replaceRE `\bAug\b` "ago." $s -}}
                  {{- $s = replaceRE `\bSep\b` "set." $s -}}
                  {{- $s = replaceRE `\bOct\b` "out." $s -}}
                  {{- $s = replaceRE `\bNov\b` "nov." $s -}}
                  {{- $s = replaceRE `\bDec\b` "dez." $s -}}
                  {{- $s -}}
                </time>

            </div>
        {{ end }}

        {{ if $showReadingTime }}
            <div>
                {{ partial "helper/icon" "clock" }}
                <time class="article-time--reading">
                    {{ T "article.readingTime" .ReadingTime }}
                </time>
            </div>
        {{ end }}
    </footer>
    {{ end }}

    {{ if .IsTranslated }}
        <footer class="article-translations">
            {{ partial "helper/icon" "language" }}
            <div>
                {{ range .Translations }}
                    <a href="{{ .Permalink }}" class="link">{{ .Language.LanguageName }}</a>
                {{ end }}
            </div>
        </footer>
    {{ end }}
</div>
